@comment-background: #f2f2f2;
@comment-font-size: 18px;
@comment-font-height: 30px;
@comment-family:  "Open Sans", "Arial", sans-serif;
@color: #283645;

.comment {
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.comment__title {
  font-size: 14px;
  line-height: @comment-font-height;
  color: #d22856;
  text-transform: uppercase;
  padding: 34px 14px 10px;
}

.comment__fullpls {
  border: 2px solid #e5e5e5;
  font-size: @comment-font-size;
  line-height: @comment-font-height;
  font-family: @comment-family;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;
  min-height: 201px;
  padding: 14px 18px;
}
