@copyright-family:  "Open Sans", "Arial", sans-serif;

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 130px;
  margin-bottom: 27px;
  margin-top: 47px;
}

.copyright__name {
  font-size: 14px;
  line-height: 18px;
  font-family: @copyright-family;
  margin: 0;
  margin-top: 9px;
}

.copyright__logo {
  font-size: 14px;
  line-height: 18px;
  width: 33px;
  height: 37px;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .copyright__name {
    font-size: 18px;
  }

  .copyright {
    width: 154px;
  }
}
