.editor {
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 20px;
}
.editor__uppload-photo {
  font-size: 0;
  width: 280px;
  min-height: 375px;
  background-image: url("../img/photo-road-mobile@1x.jpg");
  margin: auto;
}
.editor__list-tool {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}
.editor__item {
  margin-right: 5px;
}
.editor__range {
  width: 242px;
  height: 2px;
  background-color: #283645;
  margin: auto;
  margin-top: 30px;
  position: relative;
  margin-bottom: 30px;
}
.editor__point {
  width: 10px;
  height: 10px;
  border: 2px solid #d22856;
  border-radius: 50%;
  position: absolute;
  bottom: -6px;
  right: 35px;
  background-color: #f2f2f2;
}
.editor__button {
  color: #dddfe0;
  border-color: #dddfe0;
  margin: 6px;
}
.editor--set {
  color: #d22856;
  border-color: #d22856;
}
.editor__wrap-button {
  padding: 40px 0;
  border-top: 2px solid #dddfe0;
}
.editor__range--hidden {
  display: none;
}
@media (min-width: 768px) {
  .editor {
    display: flex;
    padding: 50px 20px;
  }
  .editor__uppload-photo {
    width: 538px;
    min-height: 464px;
    background-image: url("../img/photo-road-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
    background-position-x: center;
  }
  .editor__range--hidden {
    display: block;
  }
  .editor-wrapper-tool {
    display: flex;
    flex-direction: row;
  }
  .editor__list-tool {
    flex-direction: column;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .editor {
    width: 1000px;
    margin: auto;
    padding: 50px 0;
  }
  .editor__uppload-photo {
    width: 347px;
    min-height: 464px;
    background-image: url("../img/photo-road-desktop@1x.jpg");
    margin-right: 14px;
    margin-left: 50px;
    background-position-x: center;
  }
}
