.footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.footer__logo-pink {
  padding-top: 41px;
}

.footer__social-pink {
  margin-top: 31px;
  padding-left: 16px;
}

.footer__copyright-pink {
  margin-top: 37px;
  margin-bottom: 40px;
}

.main-wrapper-body {
  width: 280px;
  margin: 0 auto;
}

@media (min-width: 660px) {
  .main-wrapper-body {
    display: flex;
    flex-direction: row;
    width: 620px;
    margin: 0 auto;
    justify-content: space-between;
    min-height: 127px;
  }

  .footer__logo-pink {
    width: 147px;
    padding-top: 36px;
  }

  .footer__social-pink {
    width: 195px;
    padding-left: 9px;
    margin: 0;
    padding-top: 37px;
  }

  .footer__copyright-pink {
    margin: 0;
    padding-top: 47px;
  }
}

@media (min-width: 1200px) {
  .footer {
    min-height: 197px;
    margin-top: 0;
  }

  .main-wrapper-body {
    width: 940px;
    min-height: inherit;
  }

  .footer__logo-pink {
    display: flex;
    padding: 0;
    padding-bottom: 16px;
    margin: auto 0;
    margin-right: 234px;
  }

  .footer__social-pink {
    display: flex;
    padding: 0;
    margin: auto 0;
  }

  .footer__copyright-pink {
    width: 164px;
    padding: 0;
    margin: auto 0;
    margin-left: auto;
  }

  .footer--photo {
    margin-top: 25px;
  }
}
