@name-background: white;
@name-font-size: 18px;
@name-font-height: 30px;
@name-family:  "Open Sans", "Arial", sans-serif;
@color: black;

.form-name {
  border: none;
  padding: 0 20px;
  margin: 0;
}

.form-name__name {
  font-size: 14px;
  color: #d22856;
  padding: 0 30px 0 22px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.form-name__input-name {
  border: 2px solid #e5e5e5;
  padding: 20px 0 20px 20px;
  margin-top: 15px;
  font-size: @name-font-size;
  font-family: @name-family;
  font-weight: 400;
  width: 256px;
  margin-bottom: 25px;
}
