@name-background: white;
@name-font-size: 18px;
@name-font-height: 30px;
@color: black;


.form-name__name {
  font-size: 14px;
  color: #d22856;
  padding: 0 30px 0 22px;
  margin: 0 0 15px 0;
  text-transform: uppercase;
}


.form-name__input-name {
  border: 2px solid #e5e5e5;
  padding: 20px 7px 20px 20px;
  margin: 6px 0 17px 0;
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  box-sizing: border-box;
}

.form-name__input-name:hover {
  border: 2px solid #283645;
}

.form-name__input-name:active {
  border: 2px solid #d22856;
}

@media (min-width: 660px) {
  .form-name__input-name {
    width: 524px;
    margin: 6px 0 44px 0;
  }

  .form-name__name {
    padding: 0;
    margin: 0 14px 0 0;
  }

  .form-name__input-name--long {
    width: 565px;
    margin: 6px 0 45px 0;
  }
}

@media (min-width: 1200px) {
  .form-name__name {
    padding: 0;
    margin: 0 15px 0 0;
  }

  .form-name__input-name {
    width: 340px;
    margin: 0 0 53px 0;
  }

  .form-name__input-name:last-child {
    margin: 0;
  }

  .form-name__input-name--long {
    width: 379px;
    margin: 0 0 50px 0;
  }
}
