.page-header {
  padding: 0;
  background-color: #283645;
  font-size: 18px;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: auto 445px;
  }
}
.main-wrapper-head {
  margin: 0 auto;
  width: 280px;
  display: flex;
}
.main-wrapper-photo {
  margin: 0 auto;
  width: 280px;
  display: flex;
}
.main-wrapper-form {
  margin: 0 auto;
  width: 280px;
  display: flex;
}
.page-header__logo {
  background-color: #283645;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #485461;
}
.page-header__logo-head {
  margin-top: 21px;
  margin-bottom: 16px;
  width: 75px;
}
.page-header__button-head {
  font-size: 0;
  background-color: transparent;
  border: none;
  background-image: url("../img/icon-menu-cross.svg");
  background-size: contain;
  width: 24px;
  height: 24px;
  margin-top: 20px;
  margin-left: auto;
}
.page-header__main-image {
  min-height: 394px;
  position: relative;
}
.page-header__pink-image {
  position: absolute;
  bottom: 0;
}
.page-header__information {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  padding: 28px 10px 0;
  text-align: center;
  margin: 0;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center -63px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 142px;
}
@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .page-header__information {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-position: center;
  }
}
@media (min-width: 660px) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: bottom;
    background-size: auto 730px;
  }
  .main-wrapper-head {
    width: 620px;
  }
  .page-header__logo-head {
    margin-top: 26px;
    margin-bottom: 35px;
    width: auto;
  }
  .page-header__button-head {
    margin-top: 43px;
  }
  .wrapper-head-img {
    min-height: 617px;
    position: relative;
  }
  .page-header__main-image {
    background-image: none;
    background-color: transparent;
    margin: 0 auto;
    text-align: center;
    padding-top: 95px;
    overflow: hidden;
    min-height: 521px;
  }
  .page-header__pink-image {
    position: relative;
    width: 638px;
    vertical-align: bottom;
    transform: scale(1.1);
  }
  .page-header__information {
    padding: 68px 138px 118px;
    font-size: 50px;
    line-height: 60px;
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }
  .page-header__information--form {
    padding: 68px 92px 80px;
  }
}
@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../img/bg-back-tablet@2x.jpg");
  }
}
@media (min-width: 660px) and (min-resolution: 144dpi), (min-width: 660px) and (min-resolution: 1.5dppx) {
  .page-header__information {
    background-image: url("../img/bg-back-tablet@2x.jpg");
    background-size: 1200px auto;
  }
}
@media (min-width: 1200px) {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .page-header__logo-head {
    margin-top: 27px;
    margin-bottom: 30px;
    width: auto;
  }
  .wrapper-navigation {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 940px;
  }
  .page-header__main-nav {
    margin-left: auto;
    width: 622px;
  }
  .wrapper-head-img {
    width: 1200px;
    background-image: none;
    margin: auto;
  }
  .page-header__button-head {
    display: none;
  }
  .main-wrapper-head {
    width: 150px;
    margin-right: 168px;
  }
  .page-header__logo {
    border: none;
    background-color: transparent;
  }
  .page-header__main-image {
    width: 1050px;
    margin-top: 99px;
    padding: 0;
    padding-left: 143px;
  }
  .page-header__pink-image {
    width: 1050px;
    position: static;
    transform: scale(1);
  }
  .page-header__information {
    padding: 66px 151px 100px;
    background-image: none;
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .page-header__information--form {
    width: 760px;
    padding: 66px 0 100px;
  }
  .decorative-wrap {
    background-color: rgba(18, 18, 18, 0.3);
  }
}
@media (min-width: 1200px) and (min-resolution: 144dpi), (min-width: 1200px) and (min-resolution: 1.5dppx) {
  .page-header {
    background-image: url("../img/bg-back-desktop@2x.jpg");
    background-size: 2560px auto;
  }
}
