@form-background: white;
@form-font-size: 14px;
@form-font-height: 24px;
@color: black;

.page-form {
  display: flex;
  flex-direction: column;
  background-color: @form-background;
}

.page-form__main-form {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.page-form__form-name {
  border: none;
  margin: 0 auto 25px;
  padding: 0;
  width: 280px;
}

.page-form__text {
  font-size: @form-font-size;
  line-height: 30px;
  padding: 45px 16px 34px;
  margin: 0;
  text-align: center;
  color: black;
}

.page-form__contact {
  order: 2;
  margin: 32px auto 25px;
}

.page-form__button {
  background-color: #2aab6d;
  border-radius: 2%;
  border-color: #2aab6d;
  margin: 41px 0 0 0;
  padding: 19px 30px;
  text-transform: uppercase;
}

.page-form__button:hover {
  background-color: #1c9b5e;
  border-color: #1c9b5e;
}

.page-form__button:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-form__note {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  margin: 36px 0 14px 0;
  padding: 0 0 0 60px;
  position: relative;
}

.page-form__star {
  color: #d22856;
  font-size: 15px;
  position: absolute;
  top: 15px;
  left: 48px;
}

.page-form__wrap-button {
  width: 280px;
  margin: auto;
  order: 5;
}

.page-form__progress {
  order: 1;
}

.page-form__app {
  order: 3;
}

.page-form__comment {
  order: 4;
}

.page-form__text-pls {
  display: none;
}

.page-form__hidden {
  display: none;
}

@media (min-width: 660px) {
  .page-form__text {
    padding: 92px 84px 65px;
    font-size: 18px;
  }

  .page-form__main-form {
    width: 620px;
    margin: auto;
  }

  .page-form__app {
    order: 0;
  }

  .page-form__contact {
    order: 0;
    margin: 56px auto 25px;
  }

  .page-form__text-pls {
    display: inline;
  }

  .page-form__form-name {
    width: auto;
    margin: 0 auto 15px;
  }

  .page-form__wrap-button {
    width: 620px;
    display: flex;
    justify-content: space-between;
    margin: 27px 0 51px 0;
  }

  .page-form__note {
    margin: 58px 0 0 0;
  }

  .page-form__button {
    width: 300px;
    padding: 18px 30px;
  }
}

@media (min-width: 1200px) {
  .page-form__main-form {
    width: 940px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .page-form__form-name {
    width: 470px;
    margin: 18px 0 0 0;
  }

  .page-form__app {
    width: 435px;
    margin: 0 0 0 35px;
    box-sizing: border-box;
  }

  .page-form__contact {
    width: 940px;
    margin: 57px auto 25px;
  }

  .page-form__progress {
    width: 940px;
  }

  .page-form__text {
    padding: 93px 77px 65px;
    width: 940px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .page-form__wrap-button {
    width: 940px;
    margin: 67px auto 0;
  }

  .page-form__hidden {
    display: inline;
  }

  .page-form__button {
    margin: 0;
    font-size: 18px;
  }

  .page-form__note {
    margin: 17px 0 0 0;
  }
}
