@background-footer: #f2f2f2;
@font-size-footer: 24px;
@font-height-footer: 30px;
@color-footer: #d22856;

.page-footer {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-size: @font-size-footer;
  color: black;
  line-height: @font-height-footer;
  position: relative;
  min-height: 613px;

  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 50% 411px;
}

.page-footer__text {
  margin: 0;
  padding: 41px 18px 12px;
  text-align: center;
  font-weight: 200;
}

.page-footer__contacts-list {
  list-style: none;
  margin: 0 auto 38px;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  width: 280px;
}

.page-footer__select-contact {
  line-height: 27px;
}

.page-footer__type-contact {
  display: inline-block;
  font-size: @font-size-footer;
  font-weight: 200;
  color: @color-footer;
  line-height: 29px;
  border-bottom: 2px solid white;
}

.page-footer__type-contact:hover {
  color: #283645;
  border-bottom: 2px solid #283645;
}

.page-footer__type-contact:active {
  color: rgba(40, 54, 69, 0.3);
}

.page-footer__item {
  margin: 0 0 20px 0;
}

.page-footer__item--center {
  padding: 0 0 0 3px;
}

.page-footer__map {
  position: absolute;
  top: -32px;
  left: 0;
  z-index: -2;
  width: 100%;
  max-height: 645px;
}

.page-footer__main-wrapper-footer {
  background-color: white;
}

.page-footer__main-wrapper-footer::before {
  content: "";
  width: 16px;
  background-color: @color-footer;
  height: 16px;
  box-shadow: 0 0 0 9px white;
  border-radius: 50%;
  position: absolute;
  top: 515px;
  left: 50%;
  z-index: -1;
}

.page-footer__main {
  display: none;
}

.page-footer__triangle-img {
  width: 320px;
  background-color: transparent;
  position: absolute;
  bottom: -53px;
}

.page-footer__triangle {
  width: 320px;
}

.page-footer__color {
  fill: white;
}

.page-footer__maps iframe {
  height: 200px;
  width: 100%;
  border: 0;
}

.page-footer__maps::before {
  content: "";
  width: 100%;
  height: 35px;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-size: 100% 35px;
  position: absolute;
}

@media (min-width: 660px) {
  .page-footer__main-wrapper-footer {
    width: 100%;
    margin: 0;
    background-color: white;
    box-sizing: border-box;
  }

  .page-footer {
    background-color: transparent;
    min-height: 906px;
    background-position: 50% 406px;
  }

  .page-footer__text {
    width: 400px;
    margin: 46px auto 0;
    font-size: 40px;
    padding: 0;
    line-height: 48px;
  }

  .page-footer__contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 24px auto 0;
    width: auto;
  }

  .page-footer__item {
    margin: 0 38px 4px 0;
    width: 280px;
  }

  .page-footer__select-contact {
    line-height: 28px;
  }

  .page-footer__type-contact {
    line-height: 33px;
  }

  .page-footer__item:last-child {
    margin: 0 0 8px 0;
  }

  .page-footer__item--center {
    margin: 0 0 4px 0;
  }

  .page-footer__triangle-img {
    width: 100%;
    top: 391px;
    height: 100px;
  }

  .page-footer__triangle {
    width: 100%;
    height: 96px;
  }

  .page-footer__main {
    display: block;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .page-footer__main-wrapper-footer::before {
    top: 609px;
    left: 50%;
  }

  .page-footer__map {
    top: 91px;
    max-height: 800px;
  }

  .page-footer__maps iframe {
    height: 375px;
  }

  .page-footer__maps::before {
    content: "";
    height: 70px;
    background-size: 100% 70px;
  }
}

@media (min-width: 1200px) {
  .page-footer__text {
    padding: 19px 200px 22px;
    width: 500px;
    font-size: 50px;
    line-height: 60px;
  }

  .page-footer__main-wrapper-footer {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .page-footer__map {
    top: -284px;
    max-height: 976px;
  }

  .page-footer__contacts-list {
    width: 940px;
    margin: 0 auto;
  }

  .page-footer__item {
    margin: 16px 30px 6px 0;
    width: 290px;
    box-sizing: border-box;
  }

  .page-footer__select-contact {
    line-height: 25px;
  }

  .page-footer__type-contact {
    margin: 23px 0 0 0;
    line-height: 30px;
  }

  .page-footer__item--center {
    margin: 14px 30px;
    padding: 0;
  }

  .page-footer__item--position {
    order: 1;
    margin: 16px 0 0 30px;
  }

  .page-footer__item:last-child {
    margin: 15px 0 1px 0;
  }

  .page-footer {
    min-height: 1065px;
    background-size: 100% 100px;
    background-position: 50% 371px;
    background-image: none;
  }

  .page-footer__main {
    width: 100%;
    min-height: 197px;
  }

  .page-footer__main-wrapper-footer::before {
    top: 640px;
    left: 50%;
    z-index: -1;
  }

  .page-footer__maps {
    position: relative;
  }

  .page-footer__maps::before {
    content: "";
    width: 100%;
    height: 100px;
    background-image: url("../img/bg-triangle-white-footer.svg");
    background-size: 100% 100px;
    position: absolute;
  }

  .page-footer__maps iframe {
    height: 498px;
  }
}
