.page-footer {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 24px;
  color: black;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  position: relative;
}
.page-footer__text {
  margin: 0;
  padding: 41px 18px;
  text-align: center;
  font-weight: 200;
  padding-bottom: 12px;
}
.page-footer__contacts-list {
  list-style: none;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
}
.page-footer__select-contact {
  line-height: 29px;
}
.page-footer__type-contact {
  display: block;
  font-size: 24px;
  font-weight: 200;
  color: #d22856;
}
.page-footer__item {
  margin-bottom: 19px;
}
.page-footer__map {
  position: absolute;
  top: -32px;
  left: 0;
  z-index: -1;
  width: 100%;
  min-height: 644px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-wrapper-footer {
  width: 280px;
  margin: 0 auto;
}
.page-footer__main {
  display: none;
}
.page-footer__triangle-img {
  width: 320px;
  background-color: transparent;
  position: absolute;
  bottom: -53px;
}
.page-footer__triangle {
  width: 320px;
}
.page-footer__color {
  fill: white;
}
@media (min-width: 768px) {
  .main-wrapper-footer {
    width: 100%;
    margin: 0;
    background-color: white;
    box-sizing: border-box;
  }
  .page-footer {
    background-color: transparent;
    min-height: 906px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 26px;
  }
  .page-footer__text {
    width: 400px;
    margin: 0 auto;
    font-size: 40px;
    padding: 0;
    margin-top: 46px;
    line-height: 48px;
  }
  .page-footer__contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 0;
  }
  .page-footer__item {
    margin-right: 38px;
    width: 280px;
    margin-bottom: 11px;
  }
  .page-footer__item--center {
    margin-right: 0;
  }
  .page-footer__triangle-img {
    width: 660px;
    top: 391px;
    height: 100px;
  }
  .page-footer__triangle {
    width: 660px;
    height: 96px;
  }
  .page-footer__map {
    display: none;
  }
  .page-footer__main {
    display: block;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .page-footer__text {
    padding: 19px 200px 22px;
    width: 500px;
    font-size: 50px;
    line-height: 60px;
  }
  .page-footer__triangle {
    width: 100%;
    min-height: 125px;
  }
  .page-footer__triangle-img {
    top: 364px;
    width: 100%;
  }
  .page-footer__map {
    width: 100%;
    min-height: 767px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
  .page-footer__contacts-list {
    width: 940px;
    margin: 0 auto;
  }
  .page-footer__item {
    margin-right: 0;
    width: 290px;
    box-sizing: border-box;
    margin-top: 13px;
  }
  .page-footer__type-contact {
    margin-top: 21px;
  }
  .page-footer__item--center {
    margin: 0 30px;
    margin-top: 13px;
  }
  .page-footer__item--position {
    order: 1;
    margin: 0;
    margin-top: 13px;
  }
  .page-footer {
    background-image: url("../img/bg-map-desktop@1x.jpg");
    min-height: 1065px;
    background-position-y: 51px;
  }
  .page-footer__main {
    width: 100%;
    min-height: 197px;
  }
}
