@background-footer: #f2f2f2;
@font-size-footer: 24px;
@font-height-footer: 30px;
@font-family:  "Open Sans", "Arial", sans-serif;
@color-footer: #d22856;

.page-footer {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: @font-size-footer;
  color: black;
  line-height: @font-height-footer;
  font-family: @font-family;
  position: relative;
}

.page-footer__text {
  margin: 0;
  padding: 41px 18px;
  text-align: center;
  font-weight: 200;
  padding-bottom: 12px;
}

.page-footer__contacts-list {
  list-style: none;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
}

.page-footer__select-contact {
  line-height: 27px;
}

.page-footer__type-contact {
  display: inline-block;
  font-size: @font-size-footer;
  font-weight: 200;
  color: @color-footer;
  line-height: 29px;
}

.page-footer__type-contact:hover {
  color: #283645;
  border-bottom: 2px solid #283645;
}

.page-footer__type-contact:active {
  color: rgba(40, 54, 69, 0.3);
}

.page-footer__item {
  margin-bottom: 20px;
}

.page-footer__item--center {
  padding-left: 3px;
}

.page-footer__map {
  position: absolute;
  top: -32px;
  left: 0;
  z-index: -1;
  width: 100%;
  min-height: 644px;
}

.main-wrapper-footer {
  width: 280px;
  margin: 0 auto;
}

.main-wrapper-footer::before {
  content: "";
  width: 16px;
  background-color: @color-footer;
  height: 16px;
  box-shadow: 0 0 0 9px white;
  border-radius: 50%;
  position: absolute;
  top: 515px;
  left: 152px;
}

.page-footer__main {
  display: none;
}

.page-footer__triangle-img {
  width: 320px;
  background-color: transparent;
  position: absolute;
  bottom: -53px;
}

.page-footer__triangle {
  width: 320px;
}

.page-footer__color {
  fill: white;
}

@media (min-width: 660px) {
  .main-wrapper-footer {
    width: 100%;
    margin: 0;
    background-color: white;
    box-sizing: border-box;
  }

  .page-footer {
    background-color: transparent;
    min-height: 906px;
  }

  .page-footer__text {
    width: 400px;
    margin: 0 auto;
    font-size: 40px;
    padding: 0;
    margin-top: 46px;
    line-height: 48px;
  }

  .page-footer__contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 0;
  }

  .page-footer__item {
    margin-right: 38px;
    width: 280px;
    margin-bottom: 6px;
  }

  .page-footer__select-contact {
    line-height: 28px;
  }

  .page-footer__type-contact {
    line-height: 33px;
  }

  .page-footer__item:last-child {
    margin-bottom: 8px;
  }

  .page-footer__item--center {
    margin-right: 0;
  }

  .page-footer__triangle-img {
    width: 100%;
    top: 391px;
    height: 100px;
  }

  .page-footer__triangle {
    width: 100%;
    height: 96px;
  }

  .page-footer__main {
    display: block;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .main-wrapper-footer::before {
    top: 609px;
    left: 322px;
  }

  .page-footer__map {
    top: 91px;
  }
}

@media (min-width: 1200px) {
  .page-footer__text {
    padding: 19px 200px 22px;
    width: 500px;
    font-size: 50px;
    line-height: 60px;
  }

  .page-footer__triangle {
    width: 100%;
    min-height: 125px;
  }

  .page-footer__triangle-img {
    top: 364px;
    width: 100%;
  }

  .page-footer__map {
    width: 100%;
    min-height: 767px;
  }

  .page-footer__contacts-list {
    width: 940px;
    margin: 0 auto;
  }

  .page-footer__item {
    margin-right: 0;
    width: 290px;
    box-sizing: border-box;
    margin-top: 16px;
  }

  .page-footer__select-contact {
    line-height: 25px;
  }

  .page-footer__type-contact {
    margin-top: 22px;
    line-height: 30px;
  }

  .page-footer__item--center {
    margin: 0 30px;
    margin-top: 14px;
  }

  .page-footer__item--position {
    order: 1;
    margin: 0;
    margin-top: 16px;
  }

  .page-footer {
    min-height: 1065px;
    background-position-y: 51px;
  }

  .page-footer__main {
    width: 100%;
    min-height: 197px;
  }

  .main-wrapper-footer::before {
    top: 640px;
    left: 591px;
  }
}
