@background-footer: #f2f2f2;
@font-size-footer: 24px;
@font-height-footer: 30px;
@font-family:  "Open Sans", "Arial", sans-serif;
@color-footer: #d22856;

.page-footer {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: @font-size-footer;
  color: black;
  line-height: @font-height-footer;
  font-family: @font-family;
  position: relative;
}

.page-footer__text {
  margin: 0;
  padding: 45px 0;
  text-align: center;
  font-weight: 200;
}

.page-footer__contacts-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
}

.page-footer__type-contact {
  display: block;
  font-size: @font-size-footer;
  font-weight: 200;
  color: @color-footer;
}

.page-footer__map {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  min-height: 645px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-wrapper-footer {
  width: 280px;
  margin: 0 auto;
}

.page-footer__main {
  display: none;
}

.page-footer__triangle-img {
  width: 320px;
  background-color: transparent;
  position: absolute;
  bottom: -53px;
}

.page-footer__triangle {
  width: 320px;
}

.page-footer__color {
  fill: white;
}

@media (min-width: 768px) {
  .main-wrapper-footer {
    width: 100%;
    margin: 0;
    padding: 0 14%;
    background-color: white;
    box-sizing: border-box;
  }

  .page-footer {
    background-color: transparent;
    min-height: 770px;
  }

  .page-footer__text {
    padding: 40px 161px 18px;
  }

  .page-footer__contacts-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .page-footer__item {
    margin-right: 38px;
    width: 280px;
  }

  .page-footer__item--center {
    margin-right: 0;
  }

  .page-footer__triangle-img {
    width: 768px;
    top: 424px;
    height: 100px;
  }

  .page-footer__triangle {
    width: 768px;
    height: 96px;
  }

  .page-footer__map {
    width: 100%;
    min-height: 767px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position-y: -56px;
    background-size: cover;
  }

  .page-footer__main {
    display: block;
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .page-footer__item--position {
    order: 1;
  }

  .page-footer__text {
    padding: 40px 262px 18px;
  }

  .page-footer__triangle {
    width: 1200px;
    height: 125px;
    bottom: -94px;
  }

  .page-footer__triangle-img {
    top: 336px;
  }

  .page-footer__map {
    width: 100%;
    min-height: 767px;
    background-image: url("../img/bg-map-desktop@1x.jpg");
  }
}
