.progress {
  border: none;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0 20px;
  text-align: start;
}
.progress-wrapper {
  background-color: #f2f2f2;
}
.progress__title {
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  padding: 38px 14px 43px;
  text-align: center;
}
.progress__name {
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  font-weight: 400;
  padding: 0 0 0 70px;
  margin-bottom: 52px;
  position: relative;
}
.progress__name:last-child {
  margin-bottom: 47px;
}
.progress__name::before {
  content: "";
  width: 36px;
  height: 36px;
  background-color: white;
  border: 1px solid #e5e5e5;
  position: absolute;
  bottom: -4px;
  left: 0;
}
.progress__check-name {
  display: none;
}
.progress__check-name:checked + .progress__name::before {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}
