.progress {
  border: none;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  text-align: start;
}
.progress__wrapper {
  background-color: #f2f2f2;
  width: 280px;
  margin: auto;
}
.progress__title {
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 18px;
  color: #d22856;
  text-transform: uppercase;
  padding: 38px 35px 43px;
  text-align: center;
}
.progress__name {
  display: block;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  font-weight: 400;
  padding: 0 0 0 70px;
  margin-bottom: 52px;
  position: relative;
}
.progress__name:last-child {
  margin-bottom: 47px;
}
.progress__icon {
  position: absolute;
  width: 36px;
  height: 36px;
  border: 2px solid #e5e5e5;
  bottom: -5px;
  left: 0;
  text-align: center;
}
.progress__name svg {
  width: 22px;
  height: 36px;
  fill: #d22856;
  display: none;
}
.progress__name:hover .progress__icon {
  border: 2px solid #283645;
}
.progress__name:active .progress__icon {
  border: 2px solid #d22856;
}
.progress__check-name {
  display: none;
}
.progress__check-name:checked + .progress__name svg {
  display: inline-block;
}
@media (min-width: 660px) {
  .progress {
    background-color: white;
    border: 2px solid #e5e5e5;
    margin-top: 32px;
  }
  .progress__title {
    background-color: white;
    padding: 0 31px;
  }
  .progress__wrapper {
    background-color: white;
    margin: 48px 0 53px 58px;
  }
  .progress__name {
    padding: 0 0 0 59px;
  }
}
@media (min-width: 1200px) {
  .progress__wrapper {
    width: 820px;
    margin: 48px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 9px;
  }
  .progress__name {
    padding: 0 0 0 59px;
    width: 260px;
    box-sizing: border-box;
  }
  .progress__name:nth-of-type(odd) {
    order: -1;
  }
  .progress__name:nth-of-type(3),
  .progress__name:nth-of-type(4) {
    margin-right: 35px;
  }
  .progress__name:nth-of-type(1),
  .progress__name:nth-of-type(2) {
    margin-right: 55px;
  }
  .progress__name:nth-of-type(6),
  .progress__name:nth-of-type(5) {
    width: 209px;
  }
  .progress__name:last-child {
    margin-bottom: 52px;
  }
}
