@rev-background-color: white;
@rev-size: 14px;
@rev-height: 30px;
@rev-color: black;

.reviews {
  background-color: @rev-background-color;
  font-size: @rev-size;
  position: relative;
}

.reviews__item {
  margin: 0;
  text-align: center;
  padding: 23px 0 0 0;
}

.reviews__name {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  margin: 18px 0 0 0;
}

.reviews__years {
  display: none;
}

.reviews__quote {
  font-style: normal;
  line-height: @rev-height;
  padding: 0 20px;
}

.reviews__slider {
  margin: 22px 0 38px;
  padding: 0 0 0 9px;
}

@media (min-width: 660px) {
  .reviews {
    font-size: 18px;
    margin: 77px 0 0 0;
  }

  .reviews__years {
    display: inline;
    order: 2;
    margin: 3px 0 3px 0;
    font-size: 14px;
  }

  .reviews__name {
    order: 1;
    font-size: 20px;
    margin: 16px 0 0 0;
  }

  .reviews__quote {
    padding: 0 20px;
  }

  .reviews__item {
    display: flex;
    flex-direction: column;
    width: 660px;
    margin: auto;
  }

  .reviews__slider {
    margin: 22px 0 19px;
  }
}

@media (min-width: 1200px) {
  .reviews__item {
    width: 820px;
    margin: 0 auto 38px;
  }

  .reviews {
    display: flex;
    flex-direction: column;
    margin: 59px 0 0 0;
  }

  .reviews__name {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__years {
    font-size: 18px;
    line-height: 30px;
  }

  .reviews__slider {
    width: 1200px;
    order: -1;
    margin: 9px auto 7px;
    padding: 0;
  }
}
