@import "page-header.less";
@import "main-nav.less";
@import "pink-application.less";
@import "predestination.less";
@import "review.less";
@import "cost.less";
@import "page-footer.less";
@import "button.less";
@import "toggle.less";
@import "form-name.less";
@import "progress.less";
@import "contact.less";
@import "app.less";
@import "comment.less";
@import "page-form.less";
@import "footer-form.less";
@import "social.less";
@import "copyright.less";
@import "page-photo";
@import "editor.less";

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.page-header,
.page-main,
.page-footer,
.page-photo,
.page-form,
.footer {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}

