@import "page-header.less";
@import "main-nav.less";
@import "page-main.less";
@import "pink-application.less";
@import "predestination.less";
@import "review.less";
@import "cost.less";
@import "button.less";
@import "form-name.less";
@import "progress.less";
@import "contact.less";
@import "app.less";
@import "comment.less";
@import "page-form.less";
@import "footer-form.less";
@import "social.less";
@import "copyright.less";
@import "page-photo";
@import "editor.less";
@import "toggle.less";
@import "page-footer.less";

@media (min-width: 320px) {
  body {
    width: 320px;
    margin: 0 auto;
    padding: 10;

    font-size: 18px;
    line-height: 27px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #283645;
    font-style: normal;

    background-color: black;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    border: 0;

    clip: rect(0 0 0 0);
  }
}

@media (min-width: 768px) {
  body {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  body {
    width: 1200px;
  }
}
