@import "page-header.less";
@import "button.less";
@import "main-nav.less";
@import "page-main.less";
@import "pink-application.less";
@import "predestination.less";
@import "review.less";
@import "cost.less";
@import "form-name.less";
@import "progress.less";
@import "contact.less";
@import "app.less";
@import "comment.less";
@import "page-form.less";
@import "copyright.less";
@import "footer-form.less";
@import "social.less";
@import "page-photo";
@import "editor.less";
@import "toggle.less";
@import "page-footer.less";
@import "normalize.less";

@font-face {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
}

@font-face {
  font-weight: lighter;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
}

body {
  min-width: 320px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 27px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  font-style: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

@media (min-width: 660px) {
  body {
    min-width: 660px;
  }
}

@media (min-width: 1200px) {
  body {
    min-width: 1200px;
  }
}
