.slider__toggles {
  text-align: center;
}

.slider__toggle {
  font-size: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  background-color: #dadcdf;
  border-radius: 50%;
  border: none;
}

.slider__toggle--active {
  border: 3px solid black;
  width: 12px;
  height: 12px;
}
